@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./../../assets/fonts/PlusJakartaSans-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url(./../../assets/fonts/PlusJakartaSans-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url(./../../assets/fonts/PlusJakartaSans-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url(./../../assets/fonts/PlusJakartaSans-SemiBold.ttf) format('ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url(./../../assets/fonts/PlusJakartaSans-Bold.ttf) format('ttf');
}


._fs {
  &-12 {
    font-size: 1.2rem;
  }
  &-13 {
    font-size: 1.3rem;
  }
  &-14 {
    font-size: 1.4rem;
  }
  &-16 {
    font-size: 1.6rem;
  }
  &-20 {
    font-size: 2rem;
  }
}

._fw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
}

._letter-spacing {
  &-0 {
    letter-spacing: 0;
  }
  &-2 {
    letter-spacing: .2px;
  }
  &-5 {
    letter-spacing: .5px;
  }
}

._line-height {
  &-one {
    line-height: 1;
  }
  &-14 {
    line-height: 1.4rem;
  }
  &-16 {
    line-height: 1.6rem;
  }
  &-20 {
    line-height: 2rem;
  }
  &-30 {
    line-height: 3.0rem;
  }
}
